<div>
  <mat-label class="headline">
    {{ title }}
  </mat-label>


  <mat-card>
    <p>Login to Angular v17:</p>

    <mat-form-field>
      <mat-label>Benutzername</mat-label>
      <input matInput [(ngModel)]="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input matInput [(ngModel)]="password">
    </mat-form-field>

    <button mat-flat-button (click)="login()">
      Login
    </button>
  </mat-card>

  <span *ngIf="loginSuccess">
    <div><mat-icon>check_circle</mat-icon> <p>Anmeldung erfolgreich!</p></div>
  </span>

  <span *ngIf="loginFailed">
    <div><mat-icon>error</mat-icon> <p>Anmeldung fehlgeschlagen!</p></div>
  </span>
</div>
